<div class="col-lg-12">
  <mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">New customer </mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <!-- input -->
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Full Name</mat-label
        >
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Full Name" formControlName="fullName"/>
          <mat-icon matSuffix>
            <i-tabler name="user" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
        >Phone Number</mat-label
      >
      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="Phone Number" formControlName="phoneNumber" />
        <mat-icon matSuffix>
          <i-tabler name="phone" class="icon-20 d-flex"></i-tabler>
        </mat-icon>
      </mat-form-field>
        <!-- input -->
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Email</mat-label
        >
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Email"  formControlName="email"/>
          <mat-icon matSuffix>
            <i-tabler name="mail" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>

        <!-- input -->
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Primary Address</mat-label
        >
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Primary Address" type="text"   formControlName="primaryAddress"/>
          <mat-icon matSuffix>
            <i-tabler name="address" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>

        <!-- input -->
        <!-- <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Confirm Password</mat-label
        > -->
        <!-- <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Confirm Password" type="password" />
          <mat-icon matSuffix>
            <i-tabler name="lock" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field> -->
        
        <!-- <mat-checkbox color="primary">Remember Me!</mat-checkbox> -->
        <mat-card-actions class="b-t-1">
          <button type="submit" mat-flat-button color="primary"[disabled]="!customerForm.valid" >Save customer</button>
          <button mat-flat-button color="warn" class="m-l-8" (click)="closepopup()">Cancel</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  
  </mat-card>
</div>