


<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">Recuring</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content >
        <div class="d-flex align-items-center justify-content-center " >
            <div >
                <span class="d-flex d-row align-items-center justify-content-center"> <i-tabler name="reload" class="icon-40 d-flex">Hi i am here

                </i-tabler></span>
            <h3 class="d-flex d-row align-items-center justify-content-center">Recurring bookings will show here</h3>
            <p class="d-flex d-row align-items-center justify-content-center">This is where you can manage recurring bookings once scheduled.
                Learn more</p>
            <a class="d-flex d-row align-items-center justify-content-center" href="#">Learn more</a>
            </div>
            
          
        </div>
    </mat-card-content>
  </mat-card>
  