
<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">Create Job</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <mat-stepper orientation="vertical" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form class="m-t-24" [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Customer</ng-template>
            <div>
                <div class="row">
   
                    <div class="col-lg-12 col-sm-12">
                        <p style="font-weight: bold; font-size: 16; align-items: center; width: 72%; padding-left: 22%;">Find or Create a customer</p>
                        <p style="word-wrap: break-word; align-items: center;width: 88%; padding-left: 22%;">
                            "Which customer would you 
                            like to create this job for?
                             If they've booked you before, you can search them by name, email, or phone."
                        </p>
                     </div>
                     <div class="col-lg-12 col-sm-12" style="    padding-left: 20%;
    padding-right: 9%;">
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput formControlName="firstCtrl" required placeholder="Search Customer" (focus)="onFocus()" />
                            <mat-icon matSuffix>search</mat-icon>
                          </mat-form-field>
                     </div>
                     <button style="margin-left: 20%;" mat-flat-button color="primary" *ngIf="isFocused" class="search-button" (click)="addcustomer()"> + Create a new customer</button>

                    </div>
          
              <!-- <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                >Name
              </mat-label> -->
              <!-- <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="firstCtrl" required placeholder="Search Customer" />
              </mat-form-field> -->
              
           
            </div>
            <div class="text-right">
              <button mat-flat-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form class="m-t-24" [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Location</ng-template>
            <span>{{this.customerData? this.customerData.primaryAddress:''}}</span>
            
            <div>
            
             
            
            </div>
            <!-- <div class="d-flex align-items-center justify-content-between">
              <button mat-flat-button color="warn" matStepperPrevious>
                Back
              </button>
              <button mat-flat-button color="primary" matStepperNext>Next</button>
            </div> -->
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form class="m-t-24" [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Service</ng-template>
              <div>
                <h2>Select or create a service</h2>
                <!-- input -->
                <!-- <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
                >Country</mat-label
              > -->
              <mat-form-field appearance="outline" class="w-100">
                <mat-select value="male">
                  <mat-option value="india">Electric</mat-option>
                  <mat-option value="uk">Plumber</mat-option>
                  <mat-option value="africa">Wood</mat-option>
                </mat-select>
              </mat-form-field>
             
              <!-- <span>Add custom Service</span> -->
              <button mat-button color="primary" style="color: rgb(3, 124, 255);" (click)="addService()"> + Add custom Service</button>
             
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <button mat-flat-button color="" matStepperPrevious>
                  
                </button>
                <button mat-flat-button color="primary" matStepperNext>Continue</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form class="m-t-24" [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Schedule</ng-template>
              <div>
                <!-- input -->
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                  >First Name
                </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput formControlName="secondCtrl" required />
                </mat-form-field>
                <!-- input -->
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                  >Last Name
                </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput formControlName="secondCtrl" required />
                </mat-form-field>
                <!-- input -->
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                  >Address
                </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <textarea
                    rows="5"
                    matInput
                    formControlName="secondCtrl"
                    required
                  ></textarea>
                </mat-form-field>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <button mat-flat-button color="warn" matStepperPrevious>
                  Back
                </button>
                <button mat-flat-button color="primary" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form class="m-t-24" [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Review</ng-template>
              <div>
                <!-- input -->
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                  >First Name
                </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput formControlName="secondCtrl" required />
                </mat-form-field>
                <!-- input -->
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                  >Last Name
                </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput formControlName="secondCtrl" required />
                </mat-form-field>
                <!-- input -->
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                  >Address
                </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <textarea
                    rows="5"
                    matInput
                    formControlName="secondCtrl"
                    required
                  ></textarea>
                </mat-form-field>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <button mat-flat-button color="warn" matStepperPrevious>
                  Back
                </button>
                <button mat-flat-button color="primary" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
        <mat-step>
          <ng-template matStepLabel>Finish</ng-template>
          <h4 class="mat-headline-6 m-t-24">Terms and condition</h4>
          <p class="m-t-8 f-s-14">Sard about this site or you have been to it, but you cannot figure out what it is or what it can do. MTA web directory isSard about this site or you have been to it, but you cannot figure out what it is or what it can do. MTA web directory is</p>
          <mat-checkbox checked color="primary">Agree with terms?</mat-checkbox>
          <div class="d-flex justify-content-between m-t-16">
            <button mat-flat-button color="warn" matStepperPrevious>Back</button>
            <button mat-flat-button color="primary" (click)="stepper.reset()">Finish</button>
          </div>
        </mat-step>
      </mat-stepper>
    </mat-card-content>
  </mat-card>