.card-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .left-title {
    display: flex;
    align-items: center;
  }
  
  .right-title {
    display: flex;
    align-items: center;
  }
  