<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card class="cardWithShadow ">
  <mat-card-content>
    <div class="d-flex flex-row justify-content-between">
    <div class="col-lg-11 col-md-11 col-sm-11">
      <mat-card-title>Good Afternoon, Hamza</mat-card-title>
      <mat-card-subtitle class="mat-body-1">Here's how evocodes is doing today.</mat-card-subtitle>

    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 mr-0">
      <button mat-raised-button color="primary"><b>New +</b> </button>

    </div>
  </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow ">
  <mat-card-content>
    <div class="d-flex flex-row justify-content-between">
    <div class="col-lg-11 col-md-11 col-sm-11">
      <mat-card-title>Good Afternoon, Hamza</mat-card-title>
      <mat-card-subtitle class="mat-body-1">Here's how evocodes is doing today.</mat-card-subtitle>

    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 mr-0">
      <button mat-raised-button color="primary"><b>New +</b> </button>

    </div>
  </div>
  </mat-card-content>
</mat-card>