.full-width {
    width: 100%;
  }
  
  .section {
    margin-top: 20px;
  }
  
  .actions {
    margin-top: 20px;
    text-align: right;
  }
  
  mat-form-field {
    margin-bottom: 20px;
  }
  

  .full-width {
    width: 100%;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .actions {
    margin-top: 20px;
    text-align: right;
  }
  
  mat-form-field {
    width: 100%;
  }

  .specific-services {
    display: flex;
    flex-wrap: wrap;
  }

  .horizontal-checkbox {
    margin-right: 80%;
  }
  

  .nested-fields {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .times-input {
    margin-right: 10px;
  }

  .full-width {
    width: 100%;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .nested-fields {
    margin-top: 10px;
  }
  
  .input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
//   .times-input {
//     margin-right: 10px;
//     width: 80px;
//   }
  
  .description-text {
    margin-left: 10px;
    color: #757575; /* Use a subtle color for description */
  }
  