<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <div class="row justify-content-between">
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <input
              matInput
              placeholder="Search Customer"
              (keyup)="applyFilter($any($event.target).value)"
            />
            <mat-icon matSuffix>
              <i-tabler name="search" class="icon-20"></i-tabler>
            </mat-icon>
          </mat-form-field>
        </div>
        <div class="col-lg-8 d-flex  justify-content-end">
          <div class="row col-lg-12 justify-content-end">
            <span class="col-lg-4">Successful charges
                0</span>
                <span  class="col-lg-4">Successful charges
                    0</span>
                    <span  class="col-lg-4">Successful charges
                        0</span>
          </div>
          
        </div>
      </div>
    </mat-card-content>
  </mat-card>