<mat-card class="cardWithShadow theme-card " style="width: 100;">
    <mat-card-header>
        <mat-card-title class="m-b-0">
            <div class="row col-lg-6 col-md-6 col-sm-6">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <form>
                        <!-- input -->
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput  required placeholder="Search Transactions" />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>

                    </form>
                </div>
                <div class="fs-10 col-lg-6 col-md-6 col-sm-6">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <p>Successful Charges 0</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <p>Successful Charges 0</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <p>Successful Charges 0</p>
                    </div>
                </div>
            </div>
         
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

    </mat-card-content>
</mat-card>